<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='obs.base'}"/>

<sly data-sly-use.footer="com.orchard.obs.core.models.FooterModel"></sly>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="footer" style="background-color: white; color: black">
      <div class="container">
        <div class="row">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-18">
              <h2 align="center">${footer.aboutUs}</h2>
              <p align="center">${footer.aboutUsContent}</p>
			<h3 align="center">${footer.shop}</h3>
            <p align="center">${footer.shopContent}</p>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->
          <!-- BEGIN BOTTOM INFO BLOCK -->
          <div class="col-sm-6" style="margin-right: -20%">
            <h2>${footer.info}</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i> <a href="${footer.aboutLink}.html">About Us</a></li>
				<li><i class="fa fa-angle-right"></i> <a href="${footer.contactLink}.html">Contact Us</a></li>
				<li><i class="fa fa-angle-right"></i> <a href="${footer.faqLink}.html">Frequently Asked Questions</a></li>
				<li><i class="fa fa-angle-right"></i> <a href="${footer.termsLink}.html">Terms and Conditions</a></li>
            </ul>
          </div>
          <!-- END INFO BLOCK -->
            <!-- BEGIN NEWLETTER -->
          <div class="col-sm-5" style="margin-top: 3%">
            <div class="footer-subscribe-box">
              <h2 align="center">${footer.newsletter}</h2>
              <form action="#">
                <div class="input-group" id="subscribe">
                  <input type="text" placeholder="youremail@mail.com" id="subscribeEmail" class="form-control" required/>
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" onclick="subscribe();">Subscribe</button>
                  </span>
                </div>
				<div id="subscribeConfirm" style="display:none;">
                  <span class="padding-top-10"> 
                    Thank you for subscribing to our newsletter!
                  </span>
                </div>
              </form>
            </div> 
          </div>
          <!-- END NEWLETTER -->
            
          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-sm-3" align="right">
            <h2>${footer.contacts}</h2>
            <address class="margin-bottom-40">
				<h4>BookStore.com</h4>	
              Phone:${footer.phone}<br>
              Email: <a href=#">${footer.mail}</a><br>
            </address>
          </div>
          <!-- END BOTTOM CONTACTS -->
            
        </div>
        </div>
      </div>
    
    <!-- END FOOTER -->