<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.css @ categories='obs.base'}"/>

<!-- The Modal -->
<div id="myModal" class="modal">
	<!-- Modal content -->
    <div class="modal-content">
    	<span class="close">&times;</span>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$.fn.fetchCartData = function(1) {
	$.ajax({
		url: '/bin/myApp/cartdemoservlet',
		type: 'GET',
        data: {
        	customerId: customerId
        },
		complete: function(xhr, status) {
        	if (status == "success") {
            	bookData = JSON.parse(xhr.responseText);
                $(this).loadCartData(bookData, customerId);
            }
            else {
            	alert("Error");
            }
		}
	});
}

$.fn.updateCartData = function(index, quantity, customerId) {
	$.ajax({
		url: '/bin/myApp/cartdemoservlet',
		type: 'GET',
		data: {
			bookId: bookData[index].id,
            quantity: quantity,
            customerId: customerId
		},
		complete: function(xhr, status) {
        	if (status == "success") {
            	if(xhr.responseText > 0) {
                	bookData[index].cartQuantity = quantity;
                    $(this).loadCartData(bookData, customerId);
                }
            }
            else {
            	alert("Error");
            }
		}
	});
}

$.fn.removeCartItem = function(index, customerId) {
	$.ajax({
		url: '/bin/myApp/cartdemoservlet',
		type: 'GET',
		data: {
			bookId: bookData[index].id,
            customerId: customerId
		},
		complete: function(xhr, status) {
        	if (status == "success") {
            	if(xhr.responseText > 0) {
					bookData.splice(index, 1);
                    $(this).loadCartData(bookData, customerId);
                }
            }
            else {
            	alert("Error");
            }
		}
	});
}

$.fn.loadCartData = function(bookData, customerId) {
   	$("#cart-block").remove();
	if(bookData.length != 0) {
        $(".modal").css("display", "block");
        var totalPrice = 0, totalDiscount = 0, deliveryCharge = 0, totalAmount = 0, totalAmountSaved = 0;
        var cartBlock = [
           	'<div id="cart-block">',
                '<div id="cart-block-first-block">',
                    '<div id="header">',
                        '<div id="label">My Cart (' + bookData.length + ')</div>',
                    '</div>',
                '</div>',
            '</div>'
		].join("\n");
		$(".modal-content").append(cartBlock);

		$.each(bookData, function(index, book) {
			discountPrice = (((100-book.discount)/100)*book.price*book.cartQuantity);
            actualPrice = (book.price*book.cartQuantity);
            totalPrice += discountPrice;
            totalDiscount += (book.discount*book.price*book.cartQuantity/100);

			var Item_Block = [
				'<div class="item-block">',
                	'<div class="item-block-first-div">',
                    	'<div class="item-image-block">',
                        	'<img src="/content/dam/aemContentFolder/english/' + book.name + '.jpg">',
                        '</div>',
                        '<div class="item-detail-block">',
                        	'<div class="name">' + book.name + '</div>',
                            '<div class="language">' + book.language + '</div>',
                            '<div class="price">',
                           		'<div class="discount-price">₹' + discountPrice + '</div>',
                                '<div class="actual-price"><s>₹' + actualPrice + '</s></div>',
                                '<div class="discount">' + book.discount + '% Off</div>',
                            '</div>',
                        '</div>',
                        '<div class="delivery-detail-block">',
                        	'<div class="delivery-detail">Delivery in 3 - 5 days | ₹66</div>',
                            '<div class="replacement-policy">7 Days Replacement Policy</div>',
                        '</div>',
                    '</div>',
                    '<div class="item-block-second-div">',
                    	'<div class="item-quantity-block">',
                        	'<button class="minus" id="m' + index + '" onclick="$(this).updateCartData(' + index + ',' + (book.cartQuantity-1) + ',' + customerId + ');"> – </button>',
                            '<input class="item-count" id="q' + index + '" type="number" min="1" onkeypress="return event.keyCode > 48 && event.keyCode < 57" value=' + book.cartQuantity + '>',
                            '<button class="plus" id="p' + index + '" onclick="$(this).updateCartData(' + index + ',' + (book.cartQuantity+1) + ',' + customerId + ');"> + </button>',
                        '</div>',
                        '<div class="item-save-remove">',
                        	'<div class="item-save-later">SAVE FOR LATER</div>',
                            '<div class="item-remove" onclick="$(this).removeCartItem(' + index + ',' + customerId + ')">REMOVE</div>',
                        '</div>',
                    '</div>',
               	'</div>'
			].join("\n");
            $("#cart-block-first-block").append(Item_Block);

            if(book.cartQuantity > 1) {
            	$("#m"+index).prop("disabled", false);
            }
            else {
            	$("#m"+index).prop("disabled", true);
            }

            if(book.discount == 0) {
            	$(".discount").hide();
                $(".actual-price").hide();
            }
		});

		var Place_Order_Block = [
            '<div class="place-order-block">',
                '<button>PLACE ORDER</button>',
            '</div>'
        ].join("\n");
		$("#cart-block-first-block").append(Place_Order_Block);

        var Price_Details_Block = [
        	'<div id="price-details-block">',
               	'<div id="price-details-block-first-div">',
                    '<label>PRICE DETAILS</label>',
               	'</div>',
               	'<div id="price-details-block-second-div">',
                   	'<div id="price-div">',
                        '<div id="price-div-left">Price (item ' + bookData.length + ')</div>',
                        '<div id="price-div-right">₹' + totalPrice + '</div>',
                    '</div>',
                    '<div id="discount-div">',
                        '<div id="discount-div-left">Discount</div>',
                        '<div id="discount-div-right">₹' + totalDiscount + '</div>',
                    '</div>',
                    '<div id="delivery-charges-div">',
                        '<div id="delivery-charges-div-left">Delivery Charge</div>',
                        '<div id="delivery-charges-div-right">₹' + deliveryCharge + '</div>',
                    '</div>',
                    '<div id="total-amount-div">',
                        '<div id="total-amount-div-left">Amount</div>',
                        '<div id="total-amount-div-right">₹' + (totalPrice-totalDiscount+deliveryCharge) + '</div>',
                    '</div>',
                    '<div id="saved-amount">',
                        '<div>You will save ₹' + (totalDiscount-deliveryCharge) + ' on this order</div>',
                    '</div>',
               	'</div>',
           	'</div>'
        ].join("\n");
        $("#cart-block-first-block").append(Price_Details_Block);

		if(totalPrice == 0) {
        	if(totalDiscount == 0 || totalDiscount < deliveryCharge) {
            	$("#discount-div").hide();
            	$("#saved-amount").hide();
        	}

        	if(deliveryCharge == 0) {
            	$("#delivery-charges-div-right").text("FREE");
        	}
        }
        else {
            $("#item-block-second-div").hide();
            $("button").prop("disabled", true);
            $("button").css("background-color", "grey");
        }
	}
    else
    	alert("Cart Is Empty!...");
}

$(".close").click(function() {
	$(".modal").hide();
});

$(window).click(function(e) {
    if(e.target.id == "myModal") {
    	$("#myModal").hide();
    }
});
</script>