<!--sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.all @ categories='obs.base'}"/-->

<style>
#username, #password {
	color: white;
    margin-left: 12px;
}

#username:hover, #password:hover {
    color: #FFD700;
    margin-left: 12px;
}

#login {
    background-image: url(/content/dam/obs/en/background/reading.jpg);
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	background-color: black;
  	background-color: transparent;
  	margin: auto;
  	width: 350px;
  	height: 375px;
    border:2px solid white;
}

#login:hover {
	background-color: black;
    border: 1px solid #FFD700;
}

.name, .password {
	color: white;
    text-decoration-color: #FFD700;
    width: 250px;
    border-radius: 2px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;  
    box-sizing: border-box;
}

#logheader {
	color: white;
    margin-left: 155px;
}

.underline {
	background-color: white;
  	height: 2px;
  	left: 54px;
  	margin-top: -4px;  
  	top: 185px;       
  	width: 20px;
}

#log-btn {
	background-color: white;
  	color: black;
  	text-align: center;
    padding: 10px;
  	border: 1px solid black;
  	font-size: 16px; 
	margin-left: 152px;
}

#log-btn:hover {
	background-color: black;
    color: white;
    border:1px solid #FFD700;
}

#reg-btn {
    background-color: white;
  	color: black;
  	text-align: center;
    padding: 10px;
  	border: 1px solid black;
  	font-size: 16px; 
	margin-top: 20px;
    cursor: pointer;
}

#reg-btn:hover {
	background-color: black;
    color: white;
    border:1px solid #FFD700;
}

#fgt-pass {
	margin-left: 120px;
    margin-top: 30px;
}

#btn {
	margin: auto;
}

.fa-user-check {
	color: white;
    font-size: 100px;
    margin-left: 141px;
}

.fgt-text {
	color: #FFD700;
    text-decoration: none;
}

#error {
	display: none;
    color: red;
}
</style>

<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script>
$.fn.fetchCartData = function() {	  
	name = $("#name").val();
    password = $("#password1").val();

	if(name == "") { /* || !form.name.value.match(/^([A-Za-z]+\s?){1,3}$/)) { */
    	$("#name").focus() ;
        $("#error").show();
        $("#error").text("Please provide valid username!");
    	return false;
	}

	if(password == "") {
    	$("#password1").focus() ;
        $("#error").show();
        $("#error").text("Please provide valid password!");
    	return false;
	} 

	$.ajax({
    	async: false,
	  	url: '/bin/obs/loginservlet',
		type: 'POST',
		data: {
			name: name,
        	password: password
		},
		complete: function(xhr, status) {
        	if (status == "success") {
        		data = JSON.parse(xhr.responseText);
                if(data != null) {
            		var expires = 1;
       				document.cookie = "customerId" + "=" + data.id + ";expires=" + expires + ";path=/";
                    succeed = true;
                }
                else {
                	$("#error").show();
        			$("#error").text("Invalid username or password!");
                    succeed = false;
                }
            }
            else {
               alert("Error");
            }
		}
	});
    return succeed;
}
</script>

<div id="row">
	<form action="home.html" method="get" onsubmit="return $(this).fetchCartData()">
    	<div id="login">
        	<h2 id="logheader">Login</h2>
            <i class="fas fa-user-check"></i><br><br>
            <div id="username">
                <b>Username:</b><input type="text" class="name" id="name"><span class="underline"></span><br><br>        
            </div>
            <div id="password">
                <b>Password:</b><input type="text" class="password" id="password1"><span class="underline"></span><br><br>
            </div>
            <div id="btn">
                <button id="log-btn"><b>Login</b></button>
            </div>
            <div id="fgt-pass">
                <a href="#" class="fgt-text">Forgot Password?</a><br><br>
            </div>
		</div>
	</form>
    <center>
    	<div id="btn">
        	<a href="#"><button id="reg-btn"><b>Sign Up</b></button></a>
        </div>
	</center>
</div>
<br><br>
<center><label id="error"></label></center>