<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.css @ categories='obs.base'}"/>

<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script>

$.fn.fetchCartData = function() {	  
	name = $("#name").val();
    password = $("#password1").val();

		if(name == "") { /* || !form.name.value.match(/^([A-Za-z]+\s?){1,3}$/)) { */
    	$("#name").focus() ;
        $("#error").show();
        $("#error").text("Please provide valid username!");
    	return false;
	  }

	  if(password == "") {
    	$("#password1").focus() ;
        $("#error").show();
        $("#error").text("Please provide valid password!");
    	return false;
	  } 

	  $.ajax({
        async: false,
	  	url: '/bin/obs/loginservlet',
		type: 'GET',
		data: {
			name: name,
        	password: password
		},
		complete: function(xhr, status) {
        if (status == "success") {
                data = JSON.parse(xhr.responseText);
                if(data != null) {
            		var expires = 1;
       				document.cookie = "customerId" + "=" + data.customerId + ";expires=" + expires + ";path=/";
                    succeed = true;
                }
                else {
                	$("#error").show();
        			$("#error").text("Invalid username or password!");
                    succeed = false;
                }
            }
            else {
               alert("Error");
            }
		}
	  });

      return succeed;
 }
</script>
<!--link rel="stylesheet" href="css/Login.css"-->
    <div id="row">
        <form action="home.html" method="get" onsubmit="return $(this).fetchCartData()">
            <div id="login">
            <h2 id="logheader">Login</h2>
            <i class="fas fa-user-check"></i><br><br>
            <div id="username">
                <b>Username:</b><input type="text" class="name" id="name"><span class="underline"></span><br><br>        
            </div>
            <div id="password">
                <b>Password:</b><input type="text" class="password" id="password1"><span class="underline"></span><br><br>
            </div>
            <div id="btn">
                <button id="log-btn"><b>Login</b></button>
            </div>
            <div id="fgt-pass">
                <a href="#" class="fgt-text">Forgot Password?</a><br><br>
            </div>
            </div>
        </form>
        <center>
        <div id="btn">
        	<a href="#"><button id="reg-btn"><b>Sign Up</b></button></a>
        </div>
        </center>
    </div><br><br>
            <center><label id="error"></label></center>
