<html>
    <head>
        <title>
            </title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.css @ categories='obsCssId.order'}"/>
        </head>
        <body>
        <section class="body_wrapper" style="padding-top:82px !important;">
<div class="chkout-order-success-view">
<div class="container main_container">

<h1 class="text-center orange-color">Thank You for placing your order</h1>
<p class="text-center gray-color font-14">We are processing your order and we'll ship it pretty soon</p>
</div>
<div class="gray-divider"></div>
<div class="container main_container">
<div class="order-share-view text-center">
<div class="order-no-view gray-dark-bg color-white font-16">
Your Order Number is : <a href="#" class="color-white">4081106</a>
</div>
</div>
</div>
<div class="container main_container">
<div class="order-detail-view">
<div class="order-add-view">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 del-address">
<label class="gray-light-color font-normal col-lg-4 col-md-4 col-sm-4 col-xs-4">Shipping Address:</label>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
<span>Om prakash Mishra (8210019360),</span>
<p class="gray-light-color">Block 9C Railway Colony Lakshmisagar Kathalwari DARBHANGA,</p><p class="gray-light-color">Near Railway Station,</p><p class="gray-light-color">Darbhanga,</p><p class="gray-light-color">Bihar,</p><p class="gray-light-color">India,</p><p class="gray-light-color">846004</p> </div>
</div>
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 pull-right">
<div class="other-detail">
<label class="gray-light-color font-normal col-lg-5 col-md-5 col-sm-5 col-xs-5">Expected Delivery :</label>
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 text-left">
Estimated product delivery within 8-10 business days subject to Govt. guidelines </div>
<div class="clearfix"></div>
</div>
<div class="other-detail">
<label class="gray-light-color font-normal col-lg-5 col-md-5 col-sm-5 col-xs-5">Payment Method :</label>
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 text-left">Cash on delivery (COD)</div>
<div class="clearfix"></div>
</div>
<div class="other-detail">
<label class="gray-light-color font-normal col-lg-5 col-md-5 col-sm-5 col-xs-5">Items in Order :</label>
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 text-left">2</div>
<div class="clearfix"></div>
</div>
</div>
<div class="clearfix"></div>
</div>
<hr>
</section>
        </body>
        </html>