<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.css @ categories='obs.site'}"/>


<sly data-sly-use.header="com.orchard.obs.core.models.Header"></sly>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
<div class ="pre-head">
      <img src="/content/dam/obs/en/images/th (1).jpg" alt="bookstore logo"  id="logo" height=50px />
      <div>
 <ul >

        <li class="dropdown" data-sly-repeat="${header.pages}">
             <a  href="${item.path}.html">${item.title}</a>
             <ul  class="dropdown-content">
             <li data-sly-repeat="${item.childPages}">
				 <a href="${item.path}.html">${item.title}</a>
             </li>
             </ul>

        </li>

	<li  style: "padding-right:40px">
      <a href="login.html"><i class="fa fa-user-circle" style="font-size:30px;" ></i></a></li>

    <li> <a href="cart.html"><i class="fa fa-shopping-cart" style="font-size:30px;" ></i></a>
    </li>
    </ul>
</div>


</div>

</head>