<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.all @ categories='obs.base'}"></sly>

<div id="message-block">
	<span id="message"></span>
	<span id="close">&times;</span>
</div>
<div id="product-desc">
    <div id="product-desc-left">
        <div id="image-block">
            <center><img id="book-image" width="100px"></center>
        </div>
        <div id="buttons-block">
            <button id="add-to-cart">ADD TO CART</button>
            <!--button id="add-to-wishlist">ADD TO WISHLIST</button-->
            <button id="buy-now">BUY NOW</button>
        </div>
    </div>
    <div id="product-desc-right">
        <div class="product-name"></div>
        <div class="product-language"></div>
        <div class="product-price">
            <div class="discount-price"></div>
            <div class="actual-price"></div>
            <div class="discount"></div>
        </div>
        <div class="label-value">
        	<div class="label" id="author-label">Author</div>
            <div class="value" id="author-value"></div>
        </div>
        <div class="label-value">
            <div class="label" id="highlights-label">Highlights</div>
            <div class="value" id="highlights-value">
                <ul>
                    <li id="language"></li>
                    <li id="publisher"></li>
                    <li id="genre"></li>
                    <li id="isbn"></li>
                    <li id="pages"></li>
                </ul>
            </div>
            <div class="label" id="services-label">Services</div>
            <div class="value" id="services-value">
                <ul>
                    <li>7 Days Replacement Policy</li>
                    <li>Cash on Delivery available</li>
                </ul>
            </div>
        </div>
        <div class="label-value">
            <div class="label" id="description-label">Description</div>
            <div class="value" id="description-value"></div>
        </div>
    </div>
</div>