<!--sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.all @ categories='obs.base'}"></sly-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(function() {
    	var customerId;
    	var name = "customerId" + "=";
  					var ca = document.cookie.split(';');
  					for(var i = 0; i < ca.length; i++) {
    					var c = ca[i];
    					while (c.charAt(0) == ' ') {
      						c = c.substring(1);
    					}
    					if (c.indexOf(name) == 0) {
      						customerId = c.substring(name.length, c.length);
    					}
  					} 
		$(this).fetchCartData(customerId);
    });

	$.fn.fetchCartData = function(customerId) {
		$.ajax({
			url: '/bin/obs/cartservlet',
		 	type: 'POST',
            data: {
            	customerId: customerId
            },
		 	complete: function(xhr, status) {
            	if (status == "success") {
                	bookData = JSON.parse(xhr.responseText);
                    $(this).loadCartData(bookData, customerId);
                }
                else {
                	alert("Error");
                }
		 	}
	  	});
	}

    $.fn.updateCartData = function(index, quantity, customerId) {
		$.ajax({
			url: '/bin/obs/cartservlet',
		 	type: 'POST',
		 	data: {
				bookId: bookData[index].id,
                quantity: quantity,
                customerId: customerId
		 	},
		 	complete: function(xhr, status) {
            	if (status == "success") {
                	if(xhr.responseText > 0) {
                    	bookData[index].cartQuantity = quantity;
                        $(this).loadCartData(bookData, customerId);
                    }
                }
                else {
                	alert("Error");
                }
		 	}
		});
	}

	$.fn.removeCartItem = function(index, customerId) {
		$.ajax({
			url: '/bin/obs/cartservlet',
			type: 'POST',
			data: {
				bookId: bookData[index].id,
                customerId: customerId
			},
		 	complete: function(xhr, status) {
            	if (status == "success") {
                	if(xhr.responseText > 0) {
						bookData.splice(index, 1);
                      	$(this).loadCartData(bookData, customerId);
                   	}
               	}
                else {
                	alert("Error");
                }
		 	}
		});
	}

	$.fn.loadCartData = function(bookData, customerId) {
   		$("#cart-block").remove();
		if(bookData.length != 0) {
        	$(".modal").css("display", "block");
        	var totalPrice = 0, totalDiscount = 0, deliveryCharge = 0, totalAmount = 0, totalAmountSaved = 0;
        	var cartBlock = [
           		'<div id="cart-block">',
                	'<div id="cart-block-first-block">',
                    	'<div id="header">',
                        	'<div id="label">My Cart (' + bookData.length + ')</div>',
                        '</div>',
                    '</div>',
                '</div>'
			].join("\n");
			$("body").append(cartBlock);

			$.each(bookData, function(index, book) {
				discountPrice = (((100-book.discount)/100)*book.price*book.cartQuantity);
                actualPrice = (book.price*book.cartQuantity);
               	totalPrice += discountPrice;
                totalDiscount += (book.discount*book.price*book.cartQuantity/100);

				var Item_Block = [
						'<div class="item-block">',
                        	'<div class="item-block-first-div">',
                            	'<div class="item-image-block">',
                                	'<img src="/content/dam/aemContentFolder/english/' + book.name + '.jpg">',
                            	'</div>',
                            	'<div class="item-detail-block">',
                                	'<div class="name">' + book.name + '</div>',
                                	'<div class="language">' + book.language + '</div>',
                                	'<div class="price">',
                                    	'<div class="discount-price">₹' + discountPrice + '</div>',
                                    	'<div class="actual-price"><s>₹' + actualPrice + '</s></div>',
                                    	'<div class="discount">' + book.discount + '% Off</div>',
                                	'</div>',
                            	'</div>',
                            	'<div class="delivery-detail-block">',
                                	'<div class="delivery-detail">Delivery in 3 - 5 days | ₹66</div>',
                                	'<div class="replacement-policy">7 Days Replacement Policy</div>',
                            	'</div>',
                        	'</div>',
                        	'<div class="item-block-second-div">',
                            	'<div class="item-quantity-block">',
                                	'<button class="minus" id="m' + index + '" onclick="$(this).updateCartData(' + index + ',' + (book.cartQuantity-1) + ',' + customerId + ');"> – </button>',
                                	'<input class="item-count" id="q' + index + '" type="number" min="1" onkeypress="return event.keyCode > 48 && event.keyCode < 57" value=' + book.cartQuantity + '>',
                                	'<button class="plus" id="p' + index + '" onclick="$(this).updateCartData(' + index + ',' + (book.cartQuantity+1) + ',' + customerId + ');"> + </button>',
                            '</div>',
                            '<div class="item-save-remove">',
                                '<div class="item-save-later">SAVE FOR LATER</div>',
                                '<div class="item-remove" onclick="$(this).removeCartItem(' + index + ',' + customerId + ')">REMOVE</div>',
                            '</div>',
                        '</div>',
                    '</div>'
				].join("\n");
                $("#cart-block-first-block").append(Item_Block);

                if(book.cartQuantity > 1) {
               		$("#m"+index).prop("disabled", false);
                }
                else {
                	$("#m"+index).prop("disabled", true);
                }

                if(book.discount == 0) {
                	$(".discount").hide();
                    $(".actual-price").hide();
                }
			});

			var Place_Order_Block = [
            	'<div class="place-order-block">',
                	'<button>PLACE ORDER</button>',
                '</div>'
            ].join("\n");
			$("#cart-block-first-block").append(Place_Order_Block);

            var Price_Details_Block = [
            	'<div id="cart-block-second-block">',
        		'<div id="price-details-block">',
               		'<div id="price-details-block-first-div">',
                    	'<label>PRICE DETAILS</label>',
               	    '</div>',
               	    '<div id="price-details-block-second-div">',
                   		'<div id="price-div">',
                        	'<div id="price-div-left">Price (item ' + bookData.length + ')</div>',
                            '<div id="price-div-right">₹' + totalPrice + '</div>',
                        '</div>',
                        '<div id="discount-div">',
                        	'<div id="discount-div-left">Discount</div>',
                            '<div id="discount-div-right">₹' + totalDiscount + '</div>',
                        '</div>',
                        '<div id="delivery-charges-div">',
                        	'<div id="delivery-charges-div-left">Delivery Charge</div>',
                            '<div id="delivery-charges-div-right">₹' + deliveryCharge + '</div>',
                        '</div>',
                        '<div id="total-amount-div">',
                        	'<div id="total-amount-div-left">Amount</div>',
                        	'<div id="total-amount-div-right">₹' + (totalPrice-totalDiscount+deliveryCharge) + '</div>',
                        '</div>',
                        '<div id="saved-amount">',
                        	'<div>You will save ₹' + (totalDiscount-deliveryCharge) + ' on this order</div>',
                        '</div>',
               	    '</div>',
                '</div>',
                '</div>'
        	].join("\n");
            $("#cart-block").append(Price_Details_Block);

            if(totalDiscount == 0 || totalDiscount < deliveryCharge) {
            	$("#discount-div").hide();
                $("#saved-amount").hide();
            }

            if(deliveryCharge == 0) {
               	$("#delivery-charges-div-right").text("FREE");
            }
		}
    	else
    		alert("Cart Is Empty!...");
	}

    $(".close").click(function() {
		$(".modal").hide();
    });

    $(window).click(function(e) {
        if(e.target.id == "myModal") {
        	$("#myModal").hide();
        }
    });
</script>

<style>
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  padding-top: 100px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 40px;
  width: 50%;
  height: 250px;
  overflow: auto; 
  border-radius: 10px;
  margin: auto;
}

/* The Close Button */
.close {
  position: fixed;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  margin-left: 760px;
  margin-top: -35px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}    

#cart-block {
   display: flex;
}

#cart-block-first-block {
    flex: 0 0 60%;
}

#cart-block-second-block {
    flex: 0 0 40%;
    margin-left: 0.75%;
}

#header, .item-block, .place-order-block {            
    box-shadow: 0 0 1px 1px lightgrey;
    padding: 3%;
    margin-top: 0.75%;
}

.item-block-first-div {
    display: flex;
    width: 100%;
}

.item-image-block {
    flex: 0 1 20%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    display: flex;
    justify-content: center;
}

.item-image-block img {
    width: 60%;
    height: 100%;
}

.item-detail-block {
    position: relative;
    flex: 0 1 50%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    line-height: 1.8;
}

.item-detail-block .name {
    font-weight: 700;
}

.item-detail-block .language {
    color: grey;
}

.item-detail-block .price {
    display: flex;
}

.price .discount-price {
    font-size: 18px;
    font-weight: bold;
}

.price .actual-price {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1%;
    color: gray;
}

.price .discount {
    margin-top: 0.2%;
    font-size: 16px;
    color: #388e3c;
}

.delivery-detail-block {
    position: relative;
    flex: 0 1 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    line-height: 1.8;
}

.delivery-detail-block .replacement-policy {
    font-size: 14px;
    color: gray;
}

.item-block-second-div {
    display: flex;
    width: 100%;
    margin-top: 1.5%;
}

.item-quantity-block {
    flex: 0 1 19.1%;
    display: flex;
    justify-content: center;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.item-quantity-block .item-count {
    padding: 3%;
    width: 36%;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    text-align: center;
    margin: auto;
}

.item-quantity-block .plus, .minus {
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    border: 1px solid #c2c2c2;
    cursor: pointer;
    border-radius: 50%;
    margin: auto;
}

.item-save-remove {
    flex: 0 1 80%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.item-save-later, .item-remove {
    margin: 1.5%;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-left: 0px;
}

.item-save-later:hover, .item-remove:hover {
    color: #388e3c;
}

.place-order-block button {
    background-color: #6B8E23;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    width: 125px;
    height: 50px;
}

#price-details-block {            
    box-shadow: 0 0 1px 1px lightgrey;
    margin-top: 0.75%;
}

#price-details-block-first-div {
    padding: 3%;
    border-bottom: 1px solid lightgrey;
}

#price-div, #discount-div, #delivery-charges-div {
    display: flex;
    padding: 3%;
    justify-content: space-between;
}

#total-amount-div {
    display: flex;
    margin: 3%;
    padding-top: 3%;
    justify-content: space-between;
    border-top: 1px dashed grey;
    font-weight: 700;
    font-size: 18px;
}

#saved-amount div {
    color: #388e3c;
    font-size: 16px;
    display: flex;
    margin: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: space-between;
    border-top: 1px dashed grey;
}
</style>