<sly
	data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.css @ categories='obs.base'}"></sly>

<sly
	data-sly-use.sideNavigation="orchardPackage.core.models.SideNavigationModel"></sly>

<div class="sideNav-Background">
	<div>
		<h4>CATEGORIES<h4>
				<ul class="sideNav-ul" data-sly-list.bookCategories="${sideNavigation.bookCategory}">
					<li><a id="${bookCategories}" href="#">${bookCategories}</a></li>
				</ul>
	</div>
	<div>
		<h3>PUBLISHERS</h3>
		<ul class="sideNav-ul" data-sly-list.bookPublishers="${sideNavigation.bookPublisher}">
			<li class="publisher"><a id="${bookPublishers}" href="#"><img
					src="/content/dam/obs/en/images/publisher/${bookPublishers}.jpg"></a></li>
		</ul>
	</div>
</div>