<sly
	data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.all @ categories='obs.base'}"></sly>

<sly data-sly-use.sideNavigation="com.orchard.obs.core.models.SideNavigationModel"></sly>
<div>
<div class="sideNav-Background">
	
	<div>
		<h4><a style="text-decoration:none;color:black;" href="#" onclick="getFilteredBook('genre','all')">CATEGORIES</a></h4>
			<ul class="sideNav-ul" data-sly-list.bookCategories="${sideNavigation.bookGenres}">
				<li><a id="${bookCategories}" href="#" onclick="getFilteredBook('genre',this.id)">${bookCategories}</a></li>
			</ul>
	</div>
	<div>
		<h4><a style="text-decoration:none;color:black;" href="#" onclick="getFilteredBook('publisher','all')">PUBLISHERS</a></h4>
		<ul class="sideNav-ul" data-sly-list.bookPublishers="${sideNavigation.bookPublishers}">
			<li class="publisher"><a id="${bookPublishers}" href="#" onclick="getFilteredBook('publisher',this.id)"><img src="/content/dam/obs/en/images/publishers/${bookPublishers}.jpg"></a></li>
		</ul>
	</div>
	
</div>
	<div style="float:right;width:70%" id="ab"></div>
</div>
