#cart-block {
	display: flex;
    width: 80%;
    margin: auto;
}

#cart-block-first-block {
    flex: 0 1 60%;
}

#cart-block-second-block {
    flex: 0 1 40%;
    margin-left: 0.75%;
}

#header, .item-block, .place-order-block {            
    box-shadow: 0 0 1px 1px lightgrey;
    padding: 3%;
    margin-top: 0.75%;
}

.item-block-first-div {
    display: flex;
    width: 100%;
}

.item-image-block {
    flex: 0 1 20%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    display: flex;
    justify-content: center;
}

.item-image-block img {
    width: 60%;
    height: 100%;
}

.item-detail-block {
    position: relative;
    flex: 0 1 50%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    line-height: 1.8;
}

.item-detail-block .item-name {
    font-weight: 700;
}

.item-detail-block .language {
    color: grey;
}

.item-detail-block .item-price {
    display: flex;
}

.item-price .discount-price {
    font-size: 18px;
    font-weight: bold;
}

.item-price .actual-price {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1%;
    color: gray;
}

.item-price .discount {
    margin-top: 0.2%;
    font-size: 16px;
    color: #388e3c;
}

.delivery-detail-block {
    position: relative;
    flex: 0 1 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    line-height: 1.8;
}

.delivery-detail-block .replacement-policy {
    font-size: 14px;
    color: gray;
}

.item-block-second-div {
    display: flex;
    width: 100%;
    margin-top: 1.5%;
}

.item-quantity-block {
    flex: 0 1 19.1%;
    display: flex;
    justify-content: center;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.item-quantity-block .item-count {
    padding: 3%;
    width: 36%;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    text-align: center;
    margin: auto;
}

.item-quantity-block .plus, .minus {
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    border: 1px solid #c2c2c2;
    cursor: pointer;
    border-radius: 50%;
    margin: auto;
}

.item-save-remove {
    flex: 0 1 80%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.item-save-later, .item-remove {
    margin: 1.5%;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-left: 0px;
}

.item-save-later:hover, .item-remove:hover {
    color: #388e3c;
}

.place-order-block button {
    background-color: #6B8E23;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    width: 125px;
    height: 50px;
}

#price-details-block {            
    box-shadow: 0 0 1px 1px lightgrey;
    margin-top: 0.75%;
}

#price-details-block-first-div {
    padding: 3%;
    border-bottom: 1px solid lightgrey;
}

#price-div, #discount-div, #delivery-charges-div {
    display: flex;
    padding: 3%;
    justify-content: space-between;
}

#total-amount-div {
    display: flex;
    margin: 3%;
    padding-top: 3%;
    justify-content: space-between;
    border-top: 1px dashed grey;
    font-weight: 700;
    font-size: 18px;
}

#saved-amount div {
    color: #388e3c;
    font-size: 16px;
    display: flex;
    margin: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: space-between;
    border-top: 1px dashed grey;
}